footer * {
    text-decoration: none;
} 

footer a:hover {
    color: rgba(114, 110, 141, 1) !important;
}

nav a:hover {
    color: rgba(42, 37, 75, 1) !important;
}

.navbar-icon-hover:hover {
    transform: scale(0.9);
    background-color: rgba(202, 198, 218, 1);
    border-radius: 10px;
    transition: .35s;
}

.footer-logo-icon:hover {
    transform: scale(0.9);
    border-radius: 8px;
    transition: .35s;
}

.Footer-text-input {
    border: none;
    width: 100%;
    height: 46px;
}

input[type=text].Footer-input-field::placeholder {
    color: var(--White);
    opacity: 100%;
}

.Footer-input-field {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius:0% !important;
    border: rgba(255, 255, 255, 0.15);
}

.Footer-delimeter {
    width: 100%;
    border: 1px solid var(--Primary);
}

.Footer-column {
    width: 50%;
}

@media screen and (max-width: 767px) {
    .Footer-column {
        width: 50% !important;
        padding-bottom: 25px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .Footer-column {
        width: 33%;
    }
}

@media screen and (max-width: 991px) {
    .Footer-input {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .Footer-text-input {
        width: 472px;
    }
}