.Email-sign-up {
    background-image: url(../images/pictures/Orange-brown-back.png);
    background-repeat: no-repeat;
    background-position: center;

}

.page-header {
    margin-top: 80px !important;
}

.my-button, .my-button-opaque {
    border: none;
    border-radius:0% !important;
    min-height: 56px !important;
}

.Text-input {
    border: none;
    height: 46px;
}

@media screen and (max-width: 767px) {
    .Feature-block {
        width: 70%;
    }
}

@media screen and (min-width: 768px){
    .page-header-content {
        width: 70% !important;

    }

    .page-header {
        padding: 0 3rem !important;
        padding-top: 3rem !important;
    }

    .join-us-picture, .join-us-content {
        width: 50% !important;
    }
}

@media screen and (min-width: 992px){
    .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .page-header {
        margin-top: 150px !important;
    }

    .Text-content {
        width: 60% !important;
    }

    .Text-input {
        width: 472px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .Feature-block {
        width: 46%;
    }
}

@media screen and (min-width: 1200px) {
    .Feature-block {
        width: 22%;
    }
}

@media screen and (min-width: 768px){

    .join-us-content {
        padding: 3rem !important;
    }

    .join-us-picture, .join-us-content {
        width: 50% !important;
    }

    .join-us-content-title {
        font-size: 32px;
    }

    .join-us-content-subtitle {
        font-size: 18px;
    }
}